body{
    background-color: cornsilk;
}

div.welcome-container {
    align-self: center;
    align-content: flex-start;
    background-color: aquamarine;
}

ul.welcome-list{
    list-style: lower-greek;
}